:root {
    --highlight: #e91e63;
    --second-highlight: #ffeb3b;
}

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

h1, h2 {
    font-family: 'Bebas Neue', cursive;
}

body {
    background: #f0f0f0;
    margin: 0;
}

a {
    color: inherit;
}