:root {
    --highlight: #e91e63;
    --soft-highlight: #e91e6344;
    --second-highlight: #ffeb3b;
}

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

*::selection {
    background: var(--second-highlight);
    color: var(--highlight);
}

html {
    scroll-behavior: smooth;
}

body {
    background: #f0f0f0;
    margin: 0;
}

h1, h2, strong {
    font-family: 'Bebas Neue', cursive;
}

a {
    color: inherit;
}